<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MakersBnB | Space</title>
</head>
<body>
    <h1 th:text="${currentSpace.name}" ></h1>
    <h3 th:text="${currentSpace.description}"></h3>
    <p th:if="${currentSpace.rules}" th:text="'Rules: ' + ${currentSpace.rules}"></p>
    <p th:text="'£' + ${currentSpace.price} + ' per night'"></p>
    <br>
    <h3>Bookings:</h3>
    <ul th:each="booking : ${bookings}">
        <li th:text="${booking.start_date} + ' - ' + ${booking.end_date}"></li>
    </ul>
    <br>
    <h3>New Booking:</h3>
    <form th:action="@{/bookings}" th:object="${booking}" method="post">
        <label th:for="start_date">From:</label>
        <input type="date" th:field="*{start_date}"/> <br>
        <label th:for="end_date">Until:</label>
        <input type="date" th:field="*{end_date}"/> <br>
        <input type="hidden" th:field="*{spaceId}" />
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset" />
    </form>
    <br>
    <a href="/spaces">Back</a>
</body>
</html>