<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MakersBnB | Spaces</title>
</head>
<body>
    <h1>Our Spaces:</h1>
    <ul th:each="space: ${currentSpaces}">
        <li th:text="${space.name} + ' - ' + ${space.description} + ' - ' + '£' + ${space.price} + ' per night'"></li>
        <ul th:if="${space.rules}">
            <li th:text="${space.rules}"></li>
        </ul>
    </ul>
    <a href="/spaces/new">Add new space</a>
    <br>
    <a href="/">Back</a>
</body>
</html>